@using smashing72_manager.Models
@model List<User>
<div class="content-list">
    <div class="title">Gebruikers</div>
    @foreach (var item in Model)
    {
        @Html.ActionLink(item.Id + " - " + item.Email, "Edit", new { id = item.Id })
    }
    @Html.ActionLink("+ Nieuwe gebruiker toevoegen", "Edit", new { id = 0 }, new { @class = "add-new" })
</div>
