@using smashing72_manager.Models
@model List<Content>
<div class="content-list">
    <div class="title">Pagina's</div>
    @foreach (var item in Model.Where(c => c.ParentContentId.HasValue == false).OrderBy(c => c.MenuOrder + (c.ShowInMenu ? 0 : 10000)))
    {
        @Html.ActionLink(item.Id + " - " + item.MenuTitle, "Edit", new {id = item.Id})
        foreach (var child in Model.Where(c => c.ParentContentId == item.Id).OrderBy(c => c.MenuOrder + (c.ShowInMenu ? 0 : 10000)))
        {
            @Html.ActionLink(child.Id + " - " + child.MenuTitle, "Edit", new {id = child.Id}, new { @class = "sub"})
        }
    }
    @Html.ActionLink("+ Nieuwe pagina toevoegen", "Edit", new {id = 0}, new { @class = "add-new" })
</div>