<template id="newslist-template">
    <div id="news-view">
        <div class="content-list">
            <div class="content-list__title">Nieuws <span class="content-form__close" @@click="closeList"></span></div>
            <div class="button button--submit button--small content-list__button " @@click="selectedItem = newItem()">Nieuw bericht</div>
            <div v-for="year in years">
                <div class="content-list__item content-list__item--year" :class="{'content-list__item--selected-year': selectedYear && selectedYear === year}" @@click="selectYear(year)">{{year}}</div>
                <div v-show="selectedYear === year" v-for="month in getMonths(year)">
                    <div class="content-list__item content-list__item--month" :class="{'content-list__item--selected-month': selectedMonth && selectedMonth === month.Month}" @@click="selectMonth(month)">{{month.MonthName}}</div>
                    <div class="content-list__item content-list__item--news"
                         :class="{'content-list__item--active': selectedItem && selectedItem.Id === item.Id}"
                         v-show="selectedMonth && selectedMonth === month.Month"
                         v-for="item in getItems(year, month)"
                         @@click="selectedItem = item">{{item.Title}}</div>
                </div>
            </div>
        </div>
        <news-form :item="selectedItem"
                   v-if="selectedItem"
                   v-on:item-added="itemAdded"
                   v-on:item-updated="itemUpdated"
                   v-on:item-deleted="itemDeleted"
                   v-on:close="formClosed">
        </news-form>
    </div>
</template>

