
$font-color: #141414;
$red: #FF1A1A;
$light-gray: #E5E5E5;
$medium-gray: #C4C4C4;
$dark-gray: #898989;
$shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

* {
    box-sizing: border-box;
}

template {display: none;}

body, html, p, li, ul, form, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: $font-color;
}

input, select {
    font-size: 14px;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    border: 1px solid $medium-gray;
}

@import "components/content-list.scss";
@import "components/content-form.scss";
@import "components/button.scss";
@import "components/login-form.scss";
