<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <script src="~/scripts/lib/tinymce/tinymce.min.js"></script>
    <script src="~/scripts/lib/tinymce/tinymce-vue.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/main.css" />
</head>
<body>
    <div id="app">
        @RenderBody()
    </div>

    @Html.Partial("VueTemplates/_All")

    <script data-main="/scripts/main" src="~/scripts/require.js"></script>
</body>
</html>
