<div class="content-list">
    <div class="title">Dingen</div>
    @Html.ActionLink("Pagina's", "Index", "Content")
    @Html.ActionLink("Nieuws", "Index", "News")
    @Html.ActionLink("Teams", "Index", "Team")
    @Html.ActionLink("Gebruikers", "Index", "User")
</div>
